*{
    box-sizing: border-box;
    text-align: center;
}

.general{
    position: absolute;
    width: auto;
    float: left;
}
.header{
    background-color: #79c9e0;
    width: 100%;
    float: left;
    height: 70px;
    color: black;
    
}
.footer{
    background-color: #79c9e0;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 70px;
    color: black;
    
   
}
.main{
    background-color:#efefef;
    width: 100%;
    float: left;
    height: 300px;
    color: black;
}
.menu{
    background-color: #efefef;
    width: 25%;
    float: left;
    border-right: 1px solid black;
}
.dashboard{
    background-color: #efefef;
    width: 50%;
    float: left;
  
}
.rss{
    background-color: #efefef;
    width: 25%;
    float: left;   
    border-left: 1px solid black;
}

.messinio{
    width: 70%;
    float: center;    
}

.messitxt{
    font-family: 'Courier New', Courier, monospace;
}
a:hover {
 color: lightcoral;
}